<div class="container_top">
  <div class="d-flex justify-content-center">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="d-flex justify-content-center">
    <a><%= image_tag "logo.jpg", width: '450' %></a>
  </div>
</div>